/*Centers the information*/
body {
  text-align: center;
  background-color: #a0d8f4; /*Baby blue color*/
  font-family: 'Lato', sans-serif; 
  font-size: 120%;
}

section h3 {
  font-family: 'Tilt Neon', sans-serif; /* Font for section titles */
}

section {
  margin-bottom: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

iframe {
  display: block;
  margin: 0 auto;
}