* {
margin : 0;
padding : 0;
}
body {
background-color : #f0f0f0;
font-family : 'Montserrat', sans-serif;
text-align : center;
font-size : 120%;
}
section {
margin-bottom : 20px;
}
nav ul {
list-style-type : none;
padding : 0;
}
nav ul li {
display : inline;
margin-right : 20px;
}
nav ul li a {
text-decoration : none;
background-color : #333;
color : #fff;
padding : 10px 20px;
border-radius : 5px;
transition : background-color 0.3s;
}
nav ul li a:hover {
background-color : #555;
}
h1, h2 {
margin : 1em 0;
}
#personal-information {
padding : 1em;
}
#summary {
padding : 1em;
}
#education {
padding : 1em;
}
#experience {
padding : 1em;
}
#experience h4 {
margin-top : 20px;
}
#skills {
padding : 1em;
}
#volunteer-work {
padding : 1em;
}